{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Home | Yuraist.com{% endblock %}

{% block page_content %}
  <div class="page-header">
    <h1>
      {% if current_user.is_authenticated %}
        Hello, {{ current_user.username }}!
      {% else %}
        Welcome to Yuraist.com!
      {% endif %}
    </h1>
  </div>
  <br>
  <div>
    {% if current_user.can(Permission.WRITE) %}
      {{ wtf.quick_form(form) }}
    {% endif %}
  </div>
  <br>
  {% include '_posts.html' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ pagedown.include_pagedown() }}
{% endblock %}